<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="KennectSuite">
  <test thread-count="5" name="RegressionTest" parallel = "methods">
    <classes>
      <class name="KennectTestFlows.TestRunner"/>
    </classes>
  </test> <!-- RegressionTest -->
</suite> <!-- KennectSuite -->
